body {
    max-width: 800px;
    margin: 0px auto;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
    color: #424242;
}
small {
    color: #797979;
    font-size: 0.66em;
}
hr {
    border-top: 1px solid #d5d5d5;
    margin: 18px 0px;
}
menu {
    padding: 0px;
}
menu ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}
menu ul li {
    display: inline;
    margin: 0px 4px;
}
a {
    text-decoration: none;
    color: #0b55a3;
}
button {
    background-color: #0b55a3;
    color: #fff;
    border: 0px solid #ffffff;
    padding: 8px 12px;
    font-weight: bold;
}
form input,
form textarea {
    display: block;
    border: 1px solid #d5d5d5;
    padding: 8px 12px;
    margin: 6px 0px 14px 0px;
    min-width: 200px;
    font-size: 0.9em;
}
