$primaryColor: #3366ff;

body {
  max-width: 800px;
  margin: 0px auto;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}

p {
  line-height: 1.4em;
}

small {
  color: #666666;
  font-size: 0.66em;
}
hr {
  border: 0;
  height: 1px;
  background-color: #d5d5d5;
  margin: 18px 0px;
}
nav {
  padding: 0px;
}
nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}
nav ul li {
  display: inline;
  margin: 0px 4px;
}
a {
  text-decoration: none;
  color: $primaryColor;

  &:hover {
    text-decoration: underline;
  }
}
button {
  background-color: $primaryColor;
  color: #fff;
  border: 2px solid $primaryColor;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: $primaryColor;
  }
}
form input,
form textarea {
  display: block;
  border: 1px solid #d5d5d5;
  padding: 8px 12px;
  margin: 6px 0px 14px 0px;
  min-width: 200px;
  font-size: 0.9em;
  background-color: #ffffe0;
}

code {
  background-color: #ffffe0;
  padding: 2px 4px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}

mark {
  padding: 0px 3px;
  border-radius: 3px;
}
